body {
    background-color:#313131;
    font-family: 'Inria Sans', sans-serif;
}

h1 {
    font-weight: bold;
}

h1:hover {
    cursor:default;
}

header {
    background-color:#f1f1f1;
    margin: 0px;
    min-height: 120px;
    display:flex;
    justify-content: center;
    align-content: center;
}

#top-header {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

#top-header:hover {
    cursor: pointer;
}

footer {
    background-color:#787878;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 60px;
    height: 80px;
    display:flex;
    justify-content: center;
    align-content: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 250px;
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}


.register-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    scale: 1.0;
    transition: scale 0.5s ease;
}

.register-container:hover {
    transition: scale 0.5s ease-in-out;
}

.register-container:hover {
    scale: 1.05;
}

.log-in-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 3%;
    padding-top: 2%;
    border-radius: 2%;
    padding-bottom: 5%;
    scale: 1.0;
    transition: scale 0.5s ease;
}

.log-in-container:hover {
    transform: scale 0.5s ease-in-out;
}

.log-in-container:hover {
    scale: 1.05;
}

form{
    width: min-content;
}

#first-name {
    width: 45%;
}

#last-name {
    width: 45%;
}

#name-box-log-in{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#first-name-log-in {
    width: 45%;
}

#last-name-log-in {
    width: 45%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label-checkbox-container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.label-checkbox {
    color:#f1f1f1;
    font-size: 20px;
    font-weight: bold;
}

.label-checkbox-dark {
    color:#313131;
    font-size: 20px;
    font-weight: bold;
}

.region-age-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 70px;
}

#age-input {
    max-width: 70px;
    text-align: center;
}

#region-select {
    max-width: 180px;
    text-align: center;

}

.checkbox{
    margin-left: 0px;
    margin-right: 30px;
    outline: 0px;
}

.items {
    min-width: 300px;
    padding: 5px;
    background-color: aqua;
}

.header {
    font-size: 32px;
    color: #f1f1f1;
}

.register-header {
    color:#f1f1f1;
    text-align: center;
}

.log-in-header {
    color:#313131;
    text-align: center;
}

#name-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    border: none;
    outline: 2px solid #515151;
    font-size: 30px;
}

input:invalid {
    outline: 2px solid red;
}

input:placeholder-shown {
    background-color: white;
    outline: 2px solid #515151;
}

select {
    font-size: 30px;
}

.button-submit {
    width: fit-content;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 650px) {

    .log-in-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: auto;
        background-color: #f1f1f1;
        padding: 5%;
        padding-top: 2%;
        border-radius: 2%;
        padding-bottom: 5%;
        scale: 1.0;
        transition: scale 0.5s ease;
        justify-items: center;
    }

    .register-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: auto;
        scale: 1.0;
        transition: scale 0.5s ease;
        background-color:#515151;
        margin-bottom: 0px;
        padding: 5%;
    }
}